button {
    border: 3px solid var(--favourite);
    color: white;
    background: $grey;
    transition: all 0.3s ease;
    font-size: 0.9em;
    padding: 5px 15px;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
        background: black;
    }
}
