.footerFront {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    font-size: 18px;
    padding: clamp(10px, 5vw, 20px);
    color: white;
    background-color: black;
    font-family: "Poppins";
    span {
        color: var(--favourite);
        padding: 0 10px;
    }
    img {
        padding: 10px;
        width: 40px;
    }
}
