@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300;400;500;700&family=Sora:wght@300;400;500;600&display=swap");

nav {
    position: fixed;
    width: 100vw;
    background: #252728;
    color: white;
    box-sizing: border-box;
    @include flex(space-between);
    height: 70px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    z-index: 999;
    top: 0;
    .nav__logo {
        height: 55px;
        width: 45px;
        display: flex;
        justify-content: flex-start;
        svg {
            height: 55px;
            width: 45px;
            @include flex;
            .diamond {
                path {
                    fill: var(--favourite);
                    stroke: var(--favourite);
                }
            }
        }
    }
    .nav__btn {
        display: none;
    }
    .nav__ul {
        list-style-type: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 800px;
        height: 75px;
        @include flex(flex-end);
        flex-direction: row;

        li {
            padding: 0 50px;
            border-left: 5px solid var(--favourite);
            border-right: 5px solid var(--favourite);
            margin-left: -5px;
            font-size: 1.25em;
            box-sizing: border-box;
            flex-direction: row;
            cursor: pointer;
            @include flex;

            height: 55px;
            transform-origin: center;
            transition: all 0.15s ease-in;
            &:first-child {
                border-left: none;
            }
            &:nth-child(3) {
                border-right: none;
            }
            &:hover {
                height: 70px;
                font-size: 1.4em;
                background-color: $grey;
            }
            &.nav__icon {
                padding: 0 10px;
                font-size: 1.2em;

                border: none;
                &.settings {
                    &:hover svg {
                        transform: rotateZ(270deg);
                    }
                    svg {
                        transition: all 0.9s ease;
                    }
                }
            }
            &.margin-left {
                margin-left: 0px;
            }
            a {
                text-decoration: none;
                width: 100%;
            }
        }
    }
}
// RWD
@media (max-width: 850px) {
    nav {
        width: 100vw;

        justify-content: space-between;
        height: 75px;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        z-index: 999;
        .nav__logo {
            height: 55px;
            width: 45px;
            display: flex;
            justify-content: flex-start;
            svg {
                height: 55px;
                width: 45px;
                @include flex();
                .diamond {
                    path {
                        fill: var(--favourite);
                        stroke: var(--favourite);
                    }
                }
            }
        }
        .nav__btn {
            @include flex(space-between);
            flex-direction: column;
            height: 28px;
            cursor: pointer;
            margin-right: 10px;

            width: 36px;
            transition: all 0.5s ease;
            .nav__btnline {
                background-color: white;
                height: 3px;
                border-radius: 1px;
                width: 100%;
                position: relative;
                z-index: 999;
                transition: all 0.3s ease;
                &:nth-child(1) {
                    transform-origin: top left;
                }
                &:nth-child(3) {
                    transform-origin: bottom left;
                }
            }
            &.active {
                transform: rotateY(-180deg);
                .nav__btnline {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .nav__ul {
            width: 100%;
            max-width: 800px;
            height: 100%;
            transition: all 0.2s ease;
            flex-direction: column;

            @include flex(flex-start);
            padding-top: 80px;
            position: fixed;
            top: 0;
            left: 100%;
            background-color: $grey;
            max-width: none;
            li {
                padding: 20px 20px;
                border-left: 0px solid var(--favourite);
                border-right: 0px solid var(--favourite);
                margin-left: -5px;
                font-size: 1.5em;
                transform-origin: center;
                flex-direction: row;
                box-sizing: content-box;
                cursor: pointer;
                @include flex;
                height: 55px;
                transform-origin: center;
                transition: all 0.15s ease-in;
                flex-shrink: 300px;
                &:first-child {
                    border-left: none;
                }
                &:nth-child(3) {
                    border-right: none;
                }
                &:hover {
                    height: 70px;
                    font-size: 1.4em;
                    background-color: $grey;
                }
                &.nav__icon {
                    padding: 0 10px;
                    font-size: 1.2em;
                    height: auto;
                    border: none;
                    margin-bottom: 40px;
                    transform: scale(1.5);
                    &.settings {
                        &:hover svg {
                            transform: rotateZ(270deg);
                        }
                        svg {
                            transition: all 0.9s ease;
                        }
                    }
                }
                &.margin-left {
                    margin-left: 0px;
                }
            }
            &.active {
                left: 0;
            }
        }
    }
}
