$grey: #2F3437;
$black: #282C2F;

.popupBackground{
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.185);
    width: 100vw;
height: 100vh;
z-index: 1000;
top: 0;

}
.Settings{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    min-width: 400px;
    padding: 20px;
    padding-bottom: 25px;
    transition: all .2s ease;
background: url('../Images/mainBack.svg');
background-size: cover;
background-position: center;
border: 5px solid var(--favourite);
color: white;
display: flex;
align-items: center;
flex-direction: column;

box-sizing: border-box;
z-index: 1001;
&__colors{
    display: flex;
    justify-content: row;
    .Settings__color{
        transition: all .2s ease;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
    }
}
.Color{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Settings__language{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    img{
        padding: 15px;
        cursor: pointer;
        transition: all .2s ease;
        box-sizing: border-box;
        
        &:hover{
            background-color: $black;
            
        }
    }
}
}