body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  scroll-snap-type: y mandatory;
}
a, a:visited{
  
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    Color: white;
    vertical-align: baseline;
  
}
.padding{
  padding-left: 25px;
  padding-right: 25px;
}
