@keyframes hide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.Aboutme{
    scroll-snap-align: start;
    background-image: url('../Images/backCode.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height:700px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::after{
        content:"";
        position: absolute;
        width: 100vw;
        height: 100%;
        background: var(--favourite);
        filter: brightness(0.2);
        opacity: 0.6;
top:0;
        
        z-index: 9;
    }
    img{
        width: 320px;
        height: 420px;
        object-fit: cover;
        object-position: left;
        position: relative;
        z-index: 99;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.514);
        -webkit-box-shadow: 0px 0px 15px 5px #000000; 
box-shadow: 0px 0px 15px 5px #000000;
    }
    &__describe{
        background-color: rgba(0, 0, 0, 0.514);
        color: white;
        position: relative;
        z-index: 99;
        max-width: 750px;
        font-size: 0.8em;
        padding:20px;
        -webkit-box-shadow: 0px 0px 15px 5px #000000; 
box-shadow: 0px 0px 15px 5px #000000;
h1{
    display: flex;
    .Aboutme__typing{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content: "|";
            color: var(--favourite);
            position: absolute;
            right: -10px;
            opacity: 1;
            animation: hide .7s ease-in-out infinite;
        }
            
        }
        
    }
    
}
    }
